.nav,
.nav__container {
    display: block;
    border: solid 2px #00e2ff;
    padding: 6px;
}

/*
.nav {
    width: 20%;
}

.nav.right {
    float: right;
}

.nav.left {
    float: left;
}
*/

.nav__container {
    background-color: #fff;
}