/*
.general {
    border: solid 5px #ff00ff;
    min-height: 100px;
    padding: 10px;
}*/


.general,
.general__container {
    padding: 6px;
    display: block;
}

.general {
    outline: solid 2px #f00;
}

.general__container:after,
.general__container:before {
    content: '';
    display: table;
    clear: both;
}

.general__container {
    border: solid 2px #f00;
}