.page,
.page__container {
    display: block;
}

.page {
    min-height: 100%;
    background-color: #ccc;
}

.page__container {
    border: solid 3px #c00;
    padding: 10px
}

.page__container:after,
.page__container:before {
    content: '';
    display: table;
    clear: both;
}

.page__head {}

.page__body {}