.page,
.page__container {
    border: solid 2px gold;
    display: block;
    padding: 6px
}

.page {
    min-height: 100%;
    background-color: #777;
}

.page__container {}
.page__head {}
.page__body {}