.form {
    display: block;
    border: solid 2px coral;
    padding: 5px;
}

.form input[type="text"],
.form input[type="password"] {
    width: 100%;
    border: none;
    background-color: #ffe1d6;
    line-height: 24px;
    padding: 3px 5px;
}

.from__container {
    position: relative;
}

.from__head,
.from__body,
.from__foot,
.from__col {
    border: solid 1px coral;
}

.from__head,
.from__foot,
.from__col {
    padding: 3px;
}

.from__head,
.from__foot {
    display: none;
}

.from__head {
}

.from__body {
    position: relative;
    z-index: 1;
    width: 100%;
    display: table;
    margin: 3px 0;
    border-spacing: 3px;
}

.from__row {
    display: table-row;
}

.from__col {
    display: table-cell;
    width: 0;
}
.from__col:nth-child(2) {
    width: 100%;
}

.from__foot {
}