.main,
.main__container {
    display: block;
    padding: 10px;
}

.main {
    border: solid 3px #0000d8;
    float: right;
    width: 80%;
}
.main__container {
    border: solid 3px #b4b4ff;
}

.main__container:after,
.main__container:before {
    content: '';
    display: table;
    clear: both;
}