.btn {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-color: #b00;
    padding: 3px 5px;
    min-width: 50px;
    text-align: center;
}

.btn_dflt {
    color: #000;
    background-color: #ddd;
}