.album {
    display: block;
    background-color: #eab43b;
    padding: 10px;
}

.album + .album {
    margin-top: 10px;
}

.album__container {}

.album__head {}

.album__body {}

.album__foot {}