.image {
    display: block;
    background-color: #f0a5a5;
}

.image + .image {
    margin-top: 10px;
}

.image__container {
    padding: 10px;
}

.image__head {}

.image__body {}

.image__foot {}