.user {
    display: block;
    border: solid 3px #b100bf;
    padding: 5px;
}

.user + .user {
    margin-top: 10px;
}

.user__container {}

.user__container,
.user__head,
.user__body,
.user__foot {
    border: solid 1px #b100bf;
    padding: 3px;
}

.user__head,
.user__body,
.user__foot {
    display: inline-block;
}

.user__head {}

.user__body {}

.user__foot {}