.nav,
.nav__container {
    display: block;
}

.nav {
    float: left;
    width: 20%;
    background-color: #fff;
    padding: 10px;
}

.nav__container {
    border: solid 1px #aaa;
    padding: 5px;
}