.item {
    display: block;
    border: solid 3px #0a0;
    padding: 5px;
}

.item + .item {
    margin-top: 10px;
}

.item__container {}

.item__container,
.item__head,
.item__body,
.item__foot {
    border: solid 1px #0a0;
    padding: 3px;
}

.item__head,
.item__body,
.item__foot {
    display: inline-block;
}

.item__head {}

.item__body {}

.item__foot {}


.games .item {
    display: inline-block;
    width: 20%;
}