.news {
    display: block;
    min-height: 200px;
    background-color: #8feaa8;
}

.news + .news {
    margin-top: 10px;
}

.news__container {
    padding: 10px;
}

.news__head {}

.news__body {}

.news__foot {}