.content {
    float: right;
    width: 70%;
    padding-left: 10px;
}

.content__container {
    background-color: #fafafa;
    margin-bottom: 10px;
    padding: 10px;
}

.content__head {}

.content__body {}

.content__foot {}