.content {
    width: 70%;
}

.content.left {
    float: left;
    padding-right: 10px;
}

.content.right {
    float: right;
    padding-left: 10px;
}

.content__container {
    background-color: #fafafa;
    margin-bottom: 10px;
    padding: 10px;
}

.content__head,
.content__body,
.content__foot {
    margin: 10px 0;
}

.content__head {}

.content__body {}

.content__foot {}

.content.full {
    width: 100%;
    float: none;
}

.content.full:after,
.content.full:before {
    content: '';
    display: table;
    clear: both;
}
.content__container.half + .content__container.half {
    margin-left: 1%;
}
.content__container.half {
    width: 49.1%;
/*    margin-right: -4px;*/
    display: inline-block;
    min-height: 150px;
    vertical-align: top;
}